# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

#Ignore DS_Store
.DS_Store

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

#Ignore webpack files
bundle.js
bundle.js.map