.video-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
    height: 24.2%;
    width: 98%;
    padding-left: 2%;
    margin-bottom: 1.6%;
}


.video-row-header {
    color: #e5e5e5;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    height: 2.66%;
    padding-left: 3.5%;
}