.vid {
    width: 18.9vw;
    height: 19.4vh;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-right: 0.4%;
    transition: 500ms ease-in-out;
}

.individual-video {
    width: 100vw;
    height: 100%;
    transition: 500ms ease-in-out;
    position: absolute;
    z-index: 0;
}

.video-logo {
    margin-top: 4%;
    margin-left: 3%;
    height: 8%;
    width: 19%; 
    position: relative;
    z-index: 1;
}


.top-video-container {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    height: 77%;
    width: 100%;
    pointer-events: none;

}

.left-video-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.right-video-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.bottom-video-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 12%;
    pointer-events: none;
}

.video-play-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.486);
    border-radius: 50%;
    border-width: 1px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    margin-left: 6%;
    pointer-events: none;
}

#video-ele-play-button {
    color: #e50914;
    margin-left: 1px;
    margin-top: 1px;
    font-size: 1.1em;
    pointer-events: auto;
}


.video-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 6%;
    pointer-events: none;
}

.video-row-1 {
    font-size: 1.2em;
    width: 50%;
    margin-top: 5%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.video-maturity-rating {
    border: 1px solid white;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    pointer-events: none;
}

.video-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.486);
    border-radius: 50%;
    border-width: 1px;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(206, 206, 206, 0.637);
    margin-right: 8%;
    margin-top: 5px;
    pointer-events: none;
}

#vidicons {
    font-size: 1.2em;
    cursor: pointer;
    pointer-events: auto;
}

.video-button-container:hover {
    transform: scale(1.13);
    border: 1px solid white;
}

.video-button-container:hover #video-ele-play-button {
    color: white;
}
